<mat-spinner></mat-spinner>

<h1 [style.color]="themeColor">{{greeting}}</h1>
<h1>{{themeColor}}</h1>
<input name="themeColor" [(ngModel)]="themeColor" type="text">
<button mat-button (click)="updatColor()">Update</button>
  
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  
  